<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<p>
  {{#each hotels}}
    <a href="/hotels/{{this.hotelId}}">{{this.name}}</a>
    <br />
    Emails:
    {{#each this.emails}}
      <p>{{this}}</p>
    {{/each}}
  {{/each}}
</p>

{{#if next}}
  <form action="/index" method="get">
    <input type="number" name="next_size" value="{{next.size}}" />
    <input type="number" name="next_offset" value="{{next.offset}}" />
    <button type="submit">Next</button>
  </form>
{{/if}}
{{#if prev}}
  <form action="/prev" method="get">
    <input type="number" name="next_size" value="{{prev.size}}" />
    <input type="number" name="next_offset" value="{{prev.offset}}" />
    <button type="submit">Prev</button>
  </form>
{{/if}}